@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to bottom, #ffffff, #87ceeb);
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, #ffffff, #87ceeb);
    /* --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, #ffffff, #C99DA3);;
  font-family: "Work Sans", sans-serif;
  /* font-family: var(--font-tommy); */
}
