@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #545454;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #454545;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Work Sans", sans-serif;
  /* font-family: var(--font-tommy); */
}
